*, *:before, *:after
	box-sizing: border-box

.cf:before,
.cf:after
	content: " "
	display: table

.cf:after
	clear: both

.freelance-view-container
	margin-left: 250px
	padding: 40px

.full-screen-overlay
	position: fixed
	top: 0
	left: 0
	height: 100%
	width: 100%
	background-color: transparentize($black, .4)
	z-index: 2000

.close-overlay-button
	position: absolute
	top: 20px
	right: 20px